.image {
    width: 100%;
    height: 500px; /* Modify this to fit your needs */
    display: table;
}

.image .centered {
    display: table-cell;
    vertical-align: middle;
}

.image .centered img {
    margin: 40px auto;
    display: block;
}
.center_div{
    margin: 0 auto;
    width:80%
}